<section>
  <div class="top-nav bg-angular-red py-1.5 flex items-center justify-center gap-2">
    <p class="text-white text-center font-poppins">
      Share your feedback on Black Bloods 2024
    </p>
    <span class="material-icons text-xl text-white">arrow_forward</span>


  </div>
  <!-- nav sections -->


  <nav class="bg-white border-gray-200 font-poppins">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse font-poppins font-bold text-angular-red text-xl">
        Black Blad RC

      </a>
      <div class="flex md:order-2">
        <button type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search" aria-expanded="false" class="md:hidden text-deep-black hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 rounded-lg text-sm p-2.5 me-1">
          <span class="material-icons">search</span>
          <span class="sr-only">Search</span>
        </button>
        <div class="relative hidden md:block">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <span class="material-icons text-gray-500">search</span>
            <span class="sr-only">Search icon</span>
          </div>
          <input type="text" id="search-navbar" class="block w-full p-2 ps-10 text-sm text-deep-black border border-gray-300 rounded-lg bg-gray-50 focus:ring-angular-red focus:border-angular-red" placeholder="Search...">
        </div>
        <button data-collapse-toggle="navbar-search" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-deep-black rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-search" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <span class="material-icons">menu</span>
        </button>
      </div>
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
        <div class="relative mt-3 md:hidden">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <span class="material-icons text-gray-500">search</span>
          </div>
          <input type="text" id="search-navbar" class="block w-full p-2 ps-10 text-sm text-deep-black border border-gray-300 rounded-lg bg-gray-50 focus:ring-angular-red focus:border-angular-red" placeholder="Search...">
        </div>
        <ul class="flex flex-col p-4 md:p-0 mt-4  border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white">
          <li>
            <a routerLink="/" class="block py-2 px-3 text-angular-red bg-transparent md:p-0 font-poppins hover:underline" aria-current="page">Home</a>
          </li>
          <li>
            <a routerLink="/about-us" class="block py-2 px-3 text-deep-black rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-angular-red md:p-0">About</a>
          </li>
          <li>
            <a routerLink="/merchandise" class="block py-2 px-3 text-deep-black rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-angular-red md:p-0">Merchandise</a>
          </li>
          <li>
            <a routerLink="/game-events" class="block py-2 px-3 text-deep-black rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-angular-red md:p-0">Events</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-deep-black rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-angular-red md:p-0">Sponsor games</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</section>
