<!-- banner section -->
<div class="container mx-auto py-6 mb-8">
  <div class="banner">
    <div class="content">
        <!-- Left content -->
        <div class="left-content">
            <h2 class="title">#Wan Yudhee</h2>
            <div class="stats">
                <span>1 Events</span>
                <span>•</span>
                <span>4 Games</span>
                <span>•</span>
                <span>3 Days</span>
                <span>•</span>
                <span>2 Locations</span>
            </div>
        </div>

        <!-- Right content -->
        <div>
            <a href="#" class="button text-deep-black inline-flex items-center gap-2 text-white  bg-angular-red px-6 py-2.5 rounded-full hover:bg-deep-black transition ease-in-out delay-150">
                Get Your Jersey Today
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </a>
        </div>
    </div>
  </div>
</div>


<section class="container">
  <app-events></app-events>
 </section>
